<%= form_for @group do |t| %>
<% if @group.errors.any? %>
  <% @group.errors.full_messages.each do |msg| %>
  <ul>
    <li><%= msg %></li>

  </ul>
  <% end %>
<% end %>
标题
<%= t.text_field :title %>
<br>
描述
<br/>
<%= t.text_area :description %>
<br>
<%= t.submit "Submit", :disable_with => "Submiting..." %>
<% end %>
