<div class="container-fluild">
  <div class="">
    <div class="category">

        <button type="button" name="button"><%= link_to("游戏论坛", game_groups_path)%></button>
        <button type="button" name="button"><%= link_to("美女", beauty_groups_path) %></button>
        <button type="button" name="button"><%= link_to("艺术圈", art_groups_path) %></button>
    </div>
    <div class="pull-right">
      <%= link_to("New Group", new_group_path, class: "btn btn-primary") %>
    </div>
    <table class="table table-border">
      <thead>
        <tr>
          <td>#</td>
          <td>标题</td>
          <td>描述 </td>
          <td>管理</td>
          <td>所有者</td>
          <td>创建时间</td>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "group-titem", :collection => @groups, :as => :group %>
      </tbody>
    </table>
  </div>

</div>
